
        p{
           display: inline;
        }
        
        .con{
            margin-left: 20px;
        }
        
       
        .contact{
            background-color: black;
            width: 78vw;
            height: 700px;
            font-family: Calibri;
            letter-spacing: 5px;
            font-size: 20px;
            color: white;
            text-align: center;
            margin-left: 10vw;
             margin-top: 80px;

        }
        @media (min-width:900px){
        h2{
            padding-top: 40px;
            margin-right: 10vw;
        }
    }
        .contact h6{
             color: rgba(154, 150, 150, 0.8);
             font-family: Courier New;
             letter-spacing: 3px;
             width:50vw;
             margin-top: 6vw;
             margin-left: 15vw;
        }
        input{
            height: 3vw;
            border-radius: 8px;
            background-color: rgba(154, 150, 150, 0.3);
            border:2px solid #4c4b4d;
            padding: 0.2em;
            margin-bottom: 40px;
            padding-right: 90px;
            width: 50vw;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            
        }
        textarea{

            border-radius: 8px;
            background-color: rgba(154, 150, 150, 0.3);
            border:2px solid #4c4b4d;
            padding: 0.2em;
            margin-bottom: 30px;

            color: white;
            
        }
               @media screen and (max-width:900px){
                   #text{
                       width: 50vw;
                   }
            header ul li{
                float: none;
                
            }
            select{
               
                margin-bottom: 4vw;
            }
            #head li select{
                font-size: 10vw;
            }
            
			ul li {
			display: inline;
		

		}
          
            .col3 h2{
               font-size: 2vw;
               
            }
           #head select{
                font-size: 2vw;
               
            }
                   #logo{
                       margin-left: -5vw;
                   }
            
}
        .but2 input {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            background-color: rgba(154, 150, 150, 0.5);
            font-family: Courier New;
            letter-spacing: 3px;
            color: white;
            margin-top: 20px;
            margin-bottom: 50px;
            padding-right: 20px;
            
        
    }
        input:hover{
            border-color: white;
        }
        textarea:hover{
            border-color: white;
        }
        .but2 input:hover{
            background-color: rgba(154, 150, 150, 0.3)
        }
            body{
            background: black;
            color: rgba(154, 150, 150, 1);
            font-family: Poor Richard;

        }
  		ul li {
			display: inline;
			margin-left: 4vw;
			padding-top: -2vw;

		}
      
		a{
			text-decoration: none;
		   color:rgba(154, 150, 150, 1); 
		}
		a:hover{
			color: white;
            text-decoration: none;
		}
		header{
		font-size: 1em;
		font-family: Courier new;
		letter-spacing: 0.2vw;
		background: black;
		padding-left: 4vw;
		margin-top: -1vw;
		
	    }
		ul img{
			width: 2vw;
			height: 2vw;
			margin-top: 1vw;
			margin-left: 1vw;
		}
    header{
        margin-left: 8vw;
    }
        ul img{
            width: 2.5vw;
            height: 2.5vw;
            margin-top: 1em;
            margin-left: 1.5vw;
        }
        	#logo img{
		width: 10em;
		height: 10em;
		margin-top: -3em;
		float: left;
		position: absolute;
		margin-left: -8em;
	}
  select{
            background: black;
            color: rgba(154, 150, 150, 1);
            border: none;
            font-family: Poor Richard;
            font-size: 1vw;
            letter-spacing: 0.1vw;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  padding-left:  1em;
}
 